<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Here we instance of ServiceB class using <bean> tag -->
    <bean id="service1" class="dev.friday.dependencyinjection.client.ServiceC"/>
    <!-- Here, ClientA receives ServiceB injection -->
    <bean id="client1" class="dev.friday.dependencyinjection.client.ClientA">
        <constructor-arg ref="service1" />
    </bean>
</beans>